{extend name="public/base"/}
{block name='content'}
<h3 style="margin-left: 120px;margin-top: 40px">车辆列表</h3>
<div style=" width:90%;margin-left: 110px">

    <ul style=" width:100%;">
        {foreach name="carmessage" id="vo"}
        <li style="
	width: 300px;
	height: 300px;
	float: left;
	list-style-type: none;
     margin:10px;">
            <img src="{$vo.carimage}" style="width: 240px;
	height: 180px;">
            <h4>{$vo.cardespertion}</h4>
            <p style="font-size: 18px;color: orange">租金：{$vo.price}元</p>
            {if session('name')}
            <a href="{:url('index/carrent/carremt',['id'=>$vo.id])}" >
                <input type="button" style="background-color: red; width:60px;height:40px;font-size:
18px;color:#fff;margin-top: -50px; " value="租车"/>
            </a>
            {else/}
            <a href="{:url('index/login/login')}" >
                <input type="button" style="background-color: red; width:60px;height:40px;font-size:
18px;color:#fff;margin-top: -50px; " value="租车"/>
            </a>
            {/if}
        </li>
        {/foreach}
    </ul>
    <br>
    <div align="center" >{$carmessage->render()|raw}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    window.onload=function (){
        var Obt =document.getElementsByTagName('input');
        for(var i=0;i<Obt.length;i++) {
            Obt[i].onclick = function () {
                if ("{:session('name')}") {
                    location.href = "{:url('index/carrent/carremt',['id'=>$vo.id])}";

                } else {
                    layer.msg('请先登录', {
                        icon: 5,
                        time: 8000
                    },function () {
                        location.href = "{:url('index/login/login')}"
                    });
                }

            }

        }
    }
</script>
{/block}